body, h1, h2, h3, p, ul, ol, li, form, textarea, button, table {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "arial", Arial, sans-serif;
  color: #333;
}

header {
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-content: center;
  height: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
}

.circular-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding-top: 60px;
  padding-bottom: 60px;
}

nav ul {
  padding-top: 0.5em;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--secondary-color, #e8de19);
}

section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  padding-right: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: var(--primary-color, #3498db);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color, #2ecc71);
}

ul, ol {
  list-style: none;
}

footer {
  background-color: var(--primary-color, white);
  color: black;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  /* Adjust font sizes, padding, or other styles as needed for small screens */
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

.logo img {
  max-width: 50px;
  height: auto;
  display: flex;
  align-items: center;
}

#about {
  height: 400px;
  width: 700px;
}

#about p {
  font-size: 25px;
  font-family: "Your Custom Font", Arial, sans-serif;
}

#projects {
  height: 450px;
  width: 700px;
}

#skills {
  height: 200px;
  width: 700px;
}

#contact {
  height: 450px;
  width: 700px;
}

ul li {
  margin-bottom: 20px;
}

ul ul li {
  list-style: disc;
  margin-left: 20px;
}

ul li strong {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3498db;
}

ul li ul li {
  margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  #contact, #about, #projects {
    width: 100%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  #contact, #about, #projects {
    width: 50%;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  #contact, #about, #projects {
    height: auto;
    width: auto;
  }
}

section#skills table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

section#skills th,
section#skills td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

section#skills th {
  background-color: #3498db;
  color: white;
}

section#skills td strong {
  font-weight: bold;
  color: #3498db;
}

@media screen and (max-width: 480px) {
  section#skills {
    padding: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  section#skills table {
    font-size: 16px;
  }
}

section#contact fieldset {
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}
