/* Reset some default browser styles */
body, h1, h2, h3, p, ul, ol, li, form, input, textarea, button, table {
  margin: 0;
  padding: 0;
}

/* Set a background color and font styles */
body {
  background-color: #f0f0f0;
  font-family: 'Your Custom Font', Arial, sans-serif;
  color: #333;
}

/* Header styles */
header {
  background-color: var(--primary-color, #3498db);
  color: white;
  display: flex;
  justify-content: space-between; /* Align logo and links at each end */
  align-items: center; /* Vertically center the content */
  padding: 1rem;
}

/* Logo styles */
.logo {
  display: flex; /* Make the logo container a flex container */
  align-items: center; /* Center the logo vertically */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--secondary-color, #e8de19);
}



section {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

/* Form styles */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: var(--primary-color, #3498db);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color, #2ecc71);
}


/* Lists and Tables styles */
ul, ol {
  list-style: none;
}

/* Footer styles */
footer {
  background-color: var(--primary-color, #3498db);
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Responsive Design - Media Queries */
/* Small screen (phones) */
@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }
  /* Adjust font sizes, padding, or other styles as needed for small screens */
}

/* Tablet or restrictive laptop */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Add this CSS to control the logo size */
.logo img {
  max-width: 50px; /* Adjust the maximum width to your preference */
  height: auto;
  display: flex;
  align-items: center;
}
